@import "tailwindcss";

@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('/fonts/NEXON Lv2 Gothic OTF Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('/fonts/NEXON Lv2 Gothic OTF.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('/fonts/NEXON Lv2 Gothic OTF Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('/fonts/NEXON Lv2 Gothic OTF Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E0E5E8;
  overflow-x: hidden;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
}
